*{
    box-sizing: border-box;
    margin: 0;
    background-color:#EDF6F9;
}

body{
    font-family: Calibri;
    height: 100%;
}

html {
    height: 100%;
}

/* Nav bar */

.nav-container{
    background: #FFDDD2;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    height: 150px;
    width: auto;
    margin: 0 auto;
    padding-top: 50px;
    z-index: 1;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #FFDDD2;
}

nav ul{
    display: flex;
}

nav .logo{
    font-family: Sweet Childish Demo;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 115px;
    text-shadow: 3px 7px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-3deg);
    background: #FFDDD2;

    margin-left: 60px;
}

.nav-items li{
    list-style: none;
    margin-right: 30px;
    background-color: #FFDDD2;
}

.nav-items li:nth-last-of-type(1){
    margin: 0;
}

.nav-items li a{
    color: black;
    text-decoration: none;
    font-size: 40px;    

    background: #83C5BE;
    border-radius: 5px;
    padding: 12px;
    box-shadow: 0px 2px 3px 1px #949494;
}

.nav-items li a:hover {
    background: #78b6b0;
}

.nav-items{
    background-color: #FFDDD2;
    margin-top: 50px;
    margin-right: 50px;
}

.about-container{
    margin-bottom: 0;
    margin-top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    z-index: 2;
}

td{
    padding: 50px;
}

.text-container {
    font-size: 40px;
    text-align: center;
    padding-right: 100px;
    float: left;
}
 
scroll-log {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}


.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}


.progress-bar {
  height: 8px;
  background: #ffddd2;
  width: 0%;
}

.button-wrapper {
    text-align: right;
}

.button {
    position: absolute;
    top: 50%;
}

.button2 {
    border-radius: 4px;
}

.divider{
    width:300px;
    height:auto;
    display:inline-block;
}

table {
    border-collapse: separate;
    border-spacing: 0 30px;
    width: 100%;
  }
  
  td {
    padding: 15px;
    text-align: center;
    font-family: Calibri;
    border-bottom: 3px solid #ddd;
    background: #83C5BE;
  }

tr:hover {
    background-color:#83C5BE;
}
 


table { 
    border-spacing: 10px;
    border-collapse: separate;
}

#temp-hidden {
    visibility:hidden;
}

.table-button {
    text-decoration: none;
    font-size: 40px;    

    background: #83C5BE;
    border-radius: 5px;
    padding: 12px;
}

.table-button:hover {
    background: #78b6b0;
}

.table-item {
    text-decoration: none;
    font-size: 40px;    

    background: #83C5BE;
    border-radius: 5px;
    padding: 12px;
    width: 25%;
}